/* BASE RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #371159;
    color: #ffffff;
}

/* NAVBAR HEADER */
header {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
    background-color: #964ABD;
    color: white;
    position: fixed;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 1rem 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* NAVBAR */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #270E59;
    color: white;
}

/* MAIN */
main {
    padding: 2rem;
    padding-top: 5rem;
}

/* HOME */
.home-content {
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5em;
}

.home-content h1 {
    font-size: 16rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 30px #B66EE8;
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 1.5rem;
    color: #ffffff;
    width: 80%;
    max-width: 900px;
}

.quiz-form-button {
    width: 400px;
    height: 100px;
    padding: 10px;
    background-color: #964ABD;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 
        0 0 50px #B66EE8;
}

.quiz-form-button:hover {
    background-color: #36175E;
}

/* LOGIN */
.login-content {
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5em;
}

.login-content h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 30px #B66EE8;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

/* login form */
.login-f {
    background-color:  #EDEEEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 15px;
    width: 500px;
    height: 215px;
}

.login-f input[type="text"] {
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.login-f button {
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #964ABD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-f button:hover {
    background-color: #36175E;
}

.login-f input[type="password"],
.login-f input[type="text"] {
    width: calc(100% - 20px); 
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}

.passwd-div {
    display: flex; 
    width: 100%; 
    gap: 5px;
}

.passwd-div input[type="password"], 
.passwd-div input[type="text"] {
    flex: 4.5; 
    height: 50px; 
    padding: 10px; 
}

.passwd-div .show-hide-b {
    flex: 0.5;
    margin-right: 10px;
}

.passwd-div .show-hide-b:hover {
    background-color: #36175E;
}

/* QUIZ */
.quiz-content {
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quiz-content .quiz-container {
    width: 450px;
    padding: 20px;
    margin-top: 80px;
    background-color: #fff;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.quiz-content .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quiz-content h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 30px #B66EE8;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.quiz-content p {
    font-size: 1.5rem;
    color: #ffffff;
    width: 80%;
    max-width: 900px;
}

.quiz-content button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #964ABD;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
}

.quiz-content button:hover {
  background-color: #36175E;
}

.quiz-content .quiz-result {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}

.quiz-question {
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-options {
  margin-bottom: 20px;
}

.single-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.quiz-result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

/*PROFILE*/
.profile-content {
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.profile-content .text-container h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 30px #B66EE8;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.profile-content .profile-container {
    display: flex;
	flex-direction: row;
	align-items: flex-start;
    width: 850px;
	height: 600px;
    padding: 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.profile-container .profile-leftContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ddd;
    border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	width: 520px;
	height: 560px;
}

.img-profile {
    margin-top: 60px;
    border-radius: 10px;
}

.profile-leftContainer .profile-nameContainer {
	width: 80%;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    color: black;
	border: 1px solid #ddd;
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem; 
    font-weight: 800;
    color: #ffffff;
    text-shadow: 
        0 0 50px #B66EE8;
}

.profile-nameContainer h3 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.profile-leftContainer .profile-modifyButton {
    width: 80%;
    height: 50px;
    padding: 10px;
    background-color: #964ABD;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem; 
    font-weight: 800;
    color: #ffffff;
    text-shadow: 
        0 0 50px #B66EE8;
}

.profile-modifyButton:hover {
    background-color: #36175E;
}

.hidden {
	display: none;
}

.profile-rightContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 520px;
	height: 560px;
	margin-left: 30px;
}

.profile-rightContainer .profile-rightUpContainer {
	width: 100%;
	height: 270px;
	background-color: #fff;
	color: #000;
	padding: 15px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-rightContainer .profile-rightLowContainer {
	width: 100%;
	height: 270px;
	background-color: #fff;
	color: #000;
	padding: 15px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin-top: 27px;
    font-size: 20px;
}

.profile-rightContainer .buybutton-container {
    margin-top: 20px;
	justify-content: center;
}

.profile-rightContainer .token-earned {
	justify-content: flex-start;
	font-weight: bold;
}

/* LEADERBOARD */
.leaderboard-content {
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.leaderboard-content .text-container h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        0 0 30px #B66EE8;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.leaderboard-content .leaderboard-container {
	display: inline-block;
	height: 400px;
    padding: 20px;
    margin-top: 15px;
    background-color: #6a0dad;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
	position: relative;
	margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.leaderboard-container .leaderboard-tabs ul {
	display: flex;
	justify-content: flex-start;
	list-style: none
}

.leaderboard-container .leaderboard-tabs ul li {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 25px;
	font-weight: 600px;
	color: #3a3d51;
	cursor: pointer;
}

.leaderboard-container .leaderboard-tabs ul li:hover {
	color: #fff;
}

.leaderboard-content .leaderboard-wrapper {
	position: absolute;
	top: 60px;
	left: auto;
	width:500px;
	height: 100%;
	background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
	padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.leaderboard-wrapper .lboard_item{
    color: #000000;
}
