/* GENERAL RULES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

/* VISIBILITY RULES */
.login-page,
.home-page,
.profile-page,
.tokens-page {
    display: none;
}

.login > .login-page,
.home > .home-page,
.profile > .profile-page,
.tokens > .tokens-page {
    display: block;
}

/* BODY RULES */
body {
    background-color: #7E00D1;
    color: #FFFFFF; 
    height: 100vh;
}

/* LOGIN PAGE */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* login page button */
.box-left, .box-right{
    background-color: #ffffff;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 5px #36005E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-form button {
    width: 100%;            
    padding: 10px;
    background-color: #36005E;  
    color: #fff;            
    border: none;           
    border-radius: 5px;    
    cursor: pointer;      
    font-size: 16px;     
    font-weight: 400px;
    text-align: center; 
}

.login-form button:hover {
    background-color: #7E00D1; 
}

/* home header */
.h-home {
}

/* profile header */
.h-profile {
}

/* tokens header */
.h-tokens {
}

